@model IEnumerable<Web_LW.Models.Utilisateur>

<h2>Liste des utilisateurs</h2>

<p>
    <a class="btn btn-primary" href="/Utilisateurs/Create">Ajouter</a>
</p>

<table class="table table-bordered">
    <tr>
        <th>Nom</th>
        <th>Email</th>
        <th>Téléphone</th>
        <th>Active</th>
        <th>Rôle</th>
        <th>Actions</th>
    </tr>

    @foreach (var u in Model)
    {
        <tr>
            <td>@u.Nom</td>
            <td>@u.Email</td>
            <td>@u.Telephone</td>
            <td>@u.IsActive</td>
            <td>@u.Role</td>
            <td>
                <a href="/Utilisateurs/Details/@u.Id">Details</a> |
                <a href="/Utilisateurs/Edit/@u.Id">Modifier</a> |
                <a href="/Utilisateurs/Delete/@u.Id">Supprimer</a>
            </td>
        </tr>
    }
</table>
